**/.venv
**/node_modules
.vscode/
local/
.git/
.gitignore
*.md
README.md
docs/
testdata/
scripts/
backend/
backend-rust/target/
backend-rust/.env
frontend/.env
frontend/dist/
.env
Taskfile.yaml
codex.md
