[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.13.4",
    "django>=5.2",
    "djangorestframework>=3.16.0",
    "pdfplumber>=0.11.6",
]
